#macro (enableif $condition)
	#if (!$condition)
		disabled
	#end
#end

#macro (disableif $condition)
	#if ($condition)
		disabled
	#end
#end

#macro (checkif $condition)
	#if ($condition)
		checked
	#end
#end

#macro (checkifnot $condition)
	#if (!$condition)
		checked
	#end
#end

#macro (selectifnot $condition)
	#if (!$condition)
		selected
	#end
#end

#macro (selectif $condition)
	#if ($condition)
		selected
	#end
#end